In [4]:
import requests
import pandas as pd
from io import BytesIO

In [5]:
data_url = "https://docs.google.com/spreadsheets/d/\
12o1iofQx6V-UhInjUjLjpKxx3Z8ve8EGxnQtzNioIv4/export?\
format=xlsx&id=12o1iofQx6V-UhInjUjLjpKxx3Z8ve8EGxnQtzNioIv4"

In [6]:
df = pd.read_excel(
    BytesIO(requests.get(data_url).content)
)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [25]:
df = df.rename(columns={i: i.lower() for i in df})

In [26]:
df

          month service_category     claim_specialty    payer  paid_amount
0      201801.0     AncillaryFFS                 NaN  Payer F       4281.0
1      201801.0     AncillaryFFS                 NaN  Payer H       2221.0
2      201801.0     AncillaryFFS                 NaN  Payer O       3937.0
3      201801.0     AncillaryFFS                 NaN  Payer W        268.0
4      201801.0     AncillaryFFS                 ACH  Payer W        151.0
...         ...              ...                 ...      ...          ...
52147  202007.0   SpecialistsFFS  RADIATION ONCOLOGY  Payer F        869.0
52148  202007.0   SpecialistsFFS    REGISTERED NURSE  Payer H         99.0
52149  202007.0   SpecialistsFFS        RHEUMATOLOGY  Payer F        536.0
52150  202007.0   SpecialistsFFS    SPECIAL SERVICES  Payer H       1064.0
52151  202007.0   SpecialistsFFS             UROLOGY  Payer F       2356.0

[52152 rows x 5 columns]

In [35]:
df['year'] = df['month'].apply(lambda x: int(x) // 100)

In [36]:
df['month'] = df['month'].apply(lambda x: int(x) % 100)

In [40]:
df.isna().sum()

month                 0
service_category      0
claim_specialty     251
payer                 0
paid_amount           0
year                  0
dtype: int64

In [41]:
df.dropna()

,month,service_category,claim_specialty,payer,paid_amount,year
4,1,AncillaryFFS,ACH,Payer W,151.0,2018
5,1,AncillaryFFS,Advanced Registered Nurse Prac,Payer UN,0.0,2018
6,1,AncillaryFFS,ADVANCED RN PRACT,Payer CA,443.0,2018
7,1,AncillaryFFS,AMBULANCE,Payer CA,14890.0,2018
8,1,AncillaryFFS,AMBULANCE,Payer CO,1722.0,2018
...,...,...,...,...,...,...
52147,7,SpecialistsFFS,RADIATION ONCOLOGY,Payer F,869.0,2020
52148,7,SpecialistsFFS,REGISTERED NURSE,Payer H,99.0,2020
52149,7,SpecialistsFFS,RHEUMATOLOGY,Payer F,536.0,2020
52150,7,SpecialistsFFS,SPECIAL SERVICES,Payer H,1064.0,2020
52151,7,SpecialistsFFS,UROLOGY,Payer F,2356.0,2020

In [42]:
df.groupby('payer').size()

payer
Payer B     3631
Payer CA    8681
Payer CO    3677
Payer F     9020
Payer H     2360
Payer O     6278
Payer S     4189
Payer UL     685
Payer UN    6526
Payer W     7105
dtype: int64

In [53]:
import numpy as np
df.groupby('payer').agg({'paid_amount':np.mean})

          paid_amount
payer
Payer B    663.042963
Payer CA  3874.604654
Payer CO  1378.477835
Payer F   9621.663858
Payer H   9240.631356
Payer O   3411.820166
Payer S    909.703509
Payer UL   452.594161
Payer UN   917.627184
Payer W   1714.419986

In [ ]:
df.groupby('payer').agg

In [7]:
df.dtypes

MONTH               float64
SERVICE_CATEGORY     object
CLAIM_SPECIALTY      object
PAYER                object
PAID_AMOUNT         float64
dtype: object

In [10]:
import datetime

In [23]:
datetime.date(2020, 2, 3)

datetime.date(2020, 2, 3)

In [ ]:
for feature in df:
    print(feature, df[feature].isna().sum() / 52152)

In [ ]:
df['SERVICE_CATEGORY'].unique()

In [ ]:
df

In [1]:
import sys